@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Cafe+Retro');

.title-container {
    font-family:'Cafe Retro', 'sans-serif';
    color:rgb(239, 173, 255);
    margin:0 auto;
    align-items:center;
    justify-content:center;
    background: url("./components/img/sunset_blur_blue.jpg") center center no-repeat;
    background-size:cover;
    overflow: hidden;
    text-align:center;
}

.title-container__title {
    margin:0 auto;
    font-size:10vw;
    overflow: hidden;
    text-align:center;
}

.row {
    margin:0 auto;
    justify-content:center;
    text-align:center;
    align-items:center;
    padding-bottom:10px;
    overflow: hidden;
}

.form-container {
    background-color: #2c3e50;
    height: 100%;
    margin:0 auto;
    padding: 0;
    width:100%;
    overflow: hidden;
}

.weather_info {
    text-align:center;
    font-size:30px;
    color:white;
    overflow: hidden;
}

.formBoy {
    padding-top:10px;
    padding-bottom:10px;
    align-items:center;
    margin:0 auto;
    justify-content:center;
    text-align:center;
    overflow: hidden;
}

.logoImg {
    max-width: 50%;
    height:auto;
    padding-top:15px;
}

.yelpers {
    border:3px groove rgb(70, 108, 143);
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    margin:0 auto;
    height:100%;
    overflow: hidden;
}

.footer {
    background-color: #2c3e50;
    margin:0 auto;
    text-align:center;
    height:30.95vh;
    overflow: hidden;
}

.yelpStuff {
    padding-top:10px;
    overflow: hidden;
    margin:0 auto;
}